{% include "store_clothes/base.html" %}

{% load mathfilters %}
{% load static %}
{% load custom_filters %}

{% block content %}

<main class="pt-5">
    <div class="container">
        <h1 class="h5"> Shopping cart </h1>
        <hr>

        <!-- zmiana: Sekcja powiadomień -->
        <div id="notification-container"></div> <!-- zmiana -->

        <!-- loop -->
        {% for product_id, cart_item in cart_items_with_sizes.items %}
        <br>
        <div class="row mb-4 border product-item">
            <div class="col-md-3 col-lg-2 order-md-first bg-light">
                <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{ cart_item.item.product.image.url }}">
                <!-- Product image, why .url ? -->
            </div>
            <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
                <a href="{{ cart_item.item.product.get_absolute_url }}" class="text-info text-decoration-none">
                    <!-- Product get absolute url -->
                    <h1 class="h5 pt-2"> {{ cart_item.item.product.title }}  <!-- Product title --> </h1>
                </a>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6"> Cena {{ cart_item.item.product.price }} zł</div>
                            <div class="col-6 text-end">
                                <span class="h6 fw-bold" id="product-total-{{ cart_item.item.product.id }}">
                                    {{ cart_item.item.total|floatformat:2 }} zł <!-- Product price -->
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-12">

                                <label>Rozmiar &nbsp '{{ cart_item.item.size }}',
                                dlaczego ? {{ cart_item.sizes_availability|get_item:cart_item.item.size }}

                                nie pokazujesz sie


                               </label>


                                <br><br>

                                    <div class="cart-item">
                                        <label for="quantity-select{{ cart_item.item.product.id }}">Qty &nbsp</label>
                                        &nbsp;&nbsp;
                                        <select id="quantity-select{{ cart_item.item.product.id }}">

                                        </select>
                                    </div>
                                <br>

                                <button type="button" data-index="{{ cart_item.item.product.id }}" class="btn btn-primary btn-sm update-button">Update</button>
                                &nbsp;
                                <button type="button" data-index="{{ cart_item.item.product.id }}" data-size="{{ cart_item.item.size.size_name }}" class="btn btn-danger btn-sm delete-button">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- end loop -->

        <div class="col-12 text-end">
            <div class="h6 fw-bold"> Sub total: <div id="total" class="d-inline-flex"> {{ cart.get_total }} zł <!-- cart.get_total --> </div></div>
        </div>
        <br>
        <div class="col-12 text-end mt-3">
            <a href="{% url 'checkout' %}" class="btn btn-primary my-2">
                &nbsp;Proceed to checkout
            </a>
        </div>
    </div>
</main>

<script>
    var CSRFMIDDLEWARETOKEN = "{{ csrf_token }}";
    var URL_DELETE = '{% url "cart-delete" %}';
</script>

<script src="{% static 'js/cart_summary.js' %}"></script>

{% endblock %}
