{% include "store_clothes/base.html" %}

{% load mathfilters %}
{% load static %}

{% block content %}

<main class="pt-5">
    <div class="container">
        <h1 class="h5"> Shopping cart </h1>
        <hr>

        <!-- zmiana: Sekcja powiadomień -->
        <div id="notification-container"></div> <!-- zmiana -->

        <!-- loop -->
        {% for item in cart %}
        <br>
        <div class="row mb-4 border product-item">
            <div class="col-md-3 col-lg-2 order-md-first bg-light">
                <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{item.product.image.url}}">
                <!-- Product image, why .url ? -->
            </div>
            <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
                <a href="{{item.product.get_absolute_url}}" class="text-info text-decoration-none">
                    <!-- Product get absolute url -->
                    <h1 class="h5 pt-2"> {{item.product.title}}  <!-- Product title --> </h1>
                </a>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6"> Product </div>
                            <div class="col-6 text-end">
                                <span class="h6 fw-bold" id="product-total-{{item.product.id}}">
                                    zł {{item.price|mul:item.qty}} <!-- Product price -->
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-12">
                              <label for="size-select{{item.product.id}}">Rozmiar</label>
                               &nbsp;
                              <select id="size-select{{item.product.id}}" onchange="updateQuantityOptions({{item.product.id}})">
                                        {% for size in item.product.product_sizes.all %}
                                            <option value="{{ size.size.size_name }}" data-availability="{{ size.availability }}">
                                              {{ size.size.size_name }}
                                            </option>
                                        {% endfor %}
                              </select>
                                <br> <br>
                              <label id="qty-label{{item.product.id}}" for="select{{item.product.id}}">Qty</label>
                              &nbsp;
                              <select id="select{{item.product.id}}">
                                 <!-- Opcje ilości będą wypełniane dynamicznie przez JavaScript -->
                              </select>

                                <button type="button" data-index="{{item.product.id}}" class="btn btn-primary btn-sm update-button">Update</button>
                                &nbsp;
                                <button type="button" data-index="{{item.product.id}}" class="btn btn-danger btn-sm delete-button">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- end loop -->

        <div class="col-12 text-end">
            <div class="h6 fw-bold"> Sub total: zł <div id="total" class="d-inline-flex"> {{cart.get_total}} <!-- cart.get_total --> </div></div>
        </div>
        <br>
        <div class="col-12 text-end mt-3">
            <a href="{% url 'checkout' %}" class="btn btn-primary my-2">
                &nbsp;Proceed to checkout
            </a>
        </div>
    </div>
</main>

<script>
  // Function to show Bootstrap alert
function showAlert(message, alertType) {
    var alertHtml = `<div class="alert ${alertType} alert-dismissible fade show" role="alert">
                        ${message}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`;
    $('#notification-container').html(alertHtml);
}

// Function to update quantity options based on selected size
function updateQuantityOptions(productId) {
    var sizeSelect = document.getElementById('size-select' + productId);
    var qtySelect = document.getElementById('select' + productId);
    var qtyLabel = document.querySelector('label[for="select' + productId + '"]');
    var selectedOption = sizeSelect.options[sizeSelect.selectedIndex];
    var availability = parseInt(selectedOption.getAttribute('data-availability'), 10);

    console.log('availability: ', availability)

    if (qtySelect && qtyLabel && selectedOption) {
        qtySelect.innerHTML = '';
        if (availability === 0) {
            qtySelect.style.display = 'none';
            qtyLabel.textContent = 'Ten rozmiar jest niedostępny';
        } else {
            qtySelect.style.display = 'inline-block';
            qtyLabel.textContent = 'Qty';
            for (var i = 1; i <= availability; i++) {
                var option = document.createElement('option');
                option.value = i;
                option.text = i;
                qtySelect.appendChild(option);
            }
        }
    }
}

// Delete button
$(document).on('click', '.delete-button', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url "cart-delete" %}',
        data: {
            product_id: $(this).data('index'),
            csrfmiddlewaretoken: "{{csrf_token}}",
            action: 'post'
        },
        success: function(json){
            location.reload(true);
            document.getElementById("cart-qty").textContent = json.qty;
            document.getElementById("total").textContent = json.total;
        },
        error: function(xhr, errmsg, err){
            // Error handling
        }
    });
});

// Update button
$(document).on('click', '.update-button', function(e){
    e.preventDefault();

    var theproductid = $(this).data('index');

    $.ajax({
        type: 'POST',
        url: '{% url "cart-update" %}',
        data: {
            product_id: $(this).data('index'),
            product_quantity: $('#select' + theproductid + ' option:selected').text(),
            size_name: $('#size-select' + theproductid + ' option:selected').val(),
            csrfmiddlewaretoken: "{{csrf_token}}",
            action: 'post'
        },
        success: function(json){
            $('#cart-qty').text(json.qty);
            $('#total').text(json.total);
            $('#product-total-' + theproductid).text('zł ' + (json.product_total || ''));
        },
        error: function(xhr, errmsg, err){
            if (xhr.responseJSON && xhr.responseJSON.error) {
                showAlert(xhr.responseJSON.error, 'alert-danger');
            }
        }
    });
});

// Initialize quantity options for each product on page load
document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('select[id^="size-select"]').forEach(function(select) {
        updateQuantityOptions(select.id.replace('size-select', ''));
    });
});



</script>




{% endblock %}